* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$br: 1px solid white;



.nav-wrap,
.main-wrap,
.aside-wrap {
    padding-top: 20px;
    color: #ffffff;
    padding: 20px;
   

    .header-theme {
        text-align: center;
        margin-bottom: 20px;
    }
}

.wrap {
    display: flex;
    min-height: 100vh;
    width: 100%;
    font-family: 'Questrial', sans-serif;
    .nav-wrap {
        background-color: #2c2c2c;
        width: 10%;
        
        .nav {
            text-align: center;
            ul {
                list-style: none;
                li{
                    font-size: 22px;
                    margin-bottom: 30px;
                    
                    a {
                        text-decoration: none;
                        color: #ffffff;
                        position: relative;
                    }
    
                    a::before {
                        content: '';
                        bottom: 0;
                        left: 0;
                        position: absolute;
                        width: 100%;
                        height: 2px;
                        background-color: #fff;
                        transition: 0.3s;
                        transform: scaleX(0);
                        
                      }
                    a:hover:before {
                        transform: scaleX(1);
                        
                      }
                } 
            }
            
            
            
            
            
            

        }
    }
    .main-wrap {
        background-color:#1f1f1f;
        width: 70%;

    

        .note {
            border: $br;
            border-radius: 5px;
            width: auto;
            height: auto;
            display: table;
            padding: 20px;
            position: absolute;

            .header-note {
                text-align: center;
                margin: 0 auto;
                font-size: 20px;
                padding-bottom: 3px;
                margin-bottom: 10px;
                border-bottom: 1px solid #fff;
            }

            .text-note {
                font-size: 18px;
            }
            ul {
                li {
                    list-style: none;
                    margin-bottom: 13px;
                }

                li:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
    .aside-wrap {
        background-color: #2c2c2c;
        width: 20%;
        text-align: center;
        .btnStyle {
            outline: none;
            cursor: pointer;
            background-color: transparent;
            padding: 10px 20px;
            border: 1px solid #9e0ff1;
            border-radius: 10px;
            font-size: 20px;
            color: #fff;
            background-image: -webkit-linear-gradient(45deg, #9e0ff1 50%, transparent 50%);
            background-image: linear-gradient(45deg, #9e0ff1 50%, transparent 50%);
            background-position: 100%;
            background-size: 400%;
            -webkit-transition: background 300ms ease-in-out;
            transition: background 300ms ease-in-out;
        
            margin-bottom: 20px;
        }
        .btnStyle:hover {
         background-position: 0;
        }
        

        .optionsForm {
            display: none;
            
        
            .field {
                clear:both;
                text-align:right;
                line-height:35px;
                label {
                    float: left;
                    padding-right:10px;
                }

                input {
                    outline: none;
                    border-radius: 5px;
                    border: none;
                    padding: 3px 7px;
                    font-size: 16px;
                    width: 100%;
                    color: #fff;
                    background-color: #1f1f1f;
                }
            }

        }


    }
}